:root {
    --gpa-red-dark: #A30000;
    --gpa-blue-dark: #0029A3;
    --gpa-green-dark: #007A29;
    --gpa-gray-light: #d3d3d3;
    --gpa-yellow-dark: #edc240;
    --gpa-blue-light: #afd8f8;
    --gpa-red-light: #cb4b4b;
    --gpa-green-light: #4da74d;
    --gpa-purple-light: #9440ed;
    --gpa-gold: #BD9B33;
    --gpa-red-bright: #EE2E2F;
    --gpa-green-bright: #008C48;
    --gpa-blue-medium: #185AA9;
    --gpa-orange: #F47D23;
    --gpa-purple-dark: #662C91;
    --gpa-red-medium: #A21D21;
    --gpa-pink-dark: #B43894;
    --gpa-gray-dark: #737373;
    --gpa-orange-light: #ff904f;
    --gpa-pink-light: #ff9999;
}